@import url(c:\Layout\LessonsHTML\scss\null.css);
header {
  background: blue;
}

body {
  font-size: 20px;
  background-color: azure;
}

body div {
  font-size: 10px;
}

body p {
  color: chartreuse;
}
