body {
	font-family: Arial;
	font-size: 14px;
	color: #333333;
}
h1, h2, h3 {
	color: #445161;
}
h1 {
	font-size: 30px;
}
h2 {
	font-size: 25px;
}
h3 {
	font-size: 20px;
}
p.bold {
	font-weight: bold;
	
}
p.red {
	color: red;
}
p.right {
	text-align: right;
}
.uppercase {
	text-transform: uppercase;
}
.italic {
	font-style: italic;
}
.decoration {
	text-decoration: underline;
}
.center {
	text-align: center;
}
.top {
	font-size: 24px;
}
.decoration2 {
	text-decoration: line-through;
	
}
.tnr {
	font-family: Times New Roman;
}
.shadow {
	text-shadow: 1px 1px 1px black;
}
