body {
	margin: 0;
	padding: 0;
	font-family: Times New Roman;
	background: #e8e8e8 url('img/Ellipse 1 copy.png') no-repeat;
}
.content {
	width: 842px;
	margin: 0 auto;
	margin-top: 126px;
	margin-bottom: 106px;
}
h1 {
	font-size: 7pt;
	font-family: Arial;
	color: #878f92;
	letter-spacing: 5px;
	text-align: center;
	margin-top: 43px;
}
h1 + p {
	font-size: 18pt;
	text-align: center;
	line-height: 20px;
	color: #273d46;
}
img {
	border: 10px solid #fff;
}
p.text {
	color: #273d46;
	padding: 50px 45px 25px 45px;
	line-height: 20px;
	font-size: 12pt;
	
}
p.text2 {
	color: #273d46;
	padding: 0px 45px 25px 45px;
	line-height: 20px;
	font-size: 12pt;
	
}
li{
	font-family: Arial;
	list-style: none;
	background: url('img/check icon.png') left no-repeat;
	padding: 0px 0px 0px 30px;
	line-height: 30px;
	color: #273d46;
	font-size: 10pt;
}
li.green {
	color: #80b7b3;
	font-style: italic;
}
li.bold {
	font-weight: bold;
}
.decoration {
	text-decoration: line-through;
	color: #bbbebf;
}
button {
	border-radius: 20pt;
	background: #80b7b3;
	color: #fff;
	border: none;
}